{
    "singleQuote": false,
    "semi": true,
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
      {
        "files": ["*.sol", "*.ts"],
        "options": {
          "plugins": ["prettier-plugin-solidity"]
        }
      }
    ]
  }
  